<nav class="pagination-container" aria-label="Pagination Navigation">
  
  <button
    mat-icon-button 
    class="pagination-arrow"
    (click)="goToPrevious()"
    [disabled]="this.customPaginatorController.selectedPage() === 1"
    aria-label="Previous Page">
    <mat-icon>chevron_left</mat-icon>
  </button>

  @for(page of visiblePages; track page) {
    <button
      mat-stroked-button
      [class]="`pagination-item ${page === this.customPaginatorController.selectedPage()?'primary-color':''}`"
      (click)="goToPage(page)"
      [attr.aria-current]="page === this.customPaginatorController.selectedPage() ? 'page' : null">
      {{ page }}
    </button>
  }

  <button 
    mat-icon-button 
    class="pagination-arrow"
    (click)="goToNext()"
    [disabled]="this.customPaginatorController.selectedPage() === this.customPaginatorController.countPages()"
    aria-label="Next Page">
    <mat-icon>chevron_right</mat-icon>
  </button>

</nav>