@if(hasItems){
  <a mat-list-item class="nav-item" (click)="navItem.isExpended = !navItem.isExpended">
    <mat-icon matListItemIcon class="nav-icon">{{ navItem.icon }}</mat-icon>
    <span matListItemTitle class="nav-label">{{ language.transform(navItem.name) }}</span>
    <span matListItemMeta>
      <mat-icon class="nav-arrow">
        {{ navItem.isExpended ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </span>
  </a>
} @else {
  <a mat-list-item class="nav-item"
     [routerLink]="navItem.url"
     routerLinkActive="nav-active"
     [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon matListItemIcon class="nav-icon">{{ navItem.icon }}</mat-icon>
    <span matListItemTitle class="nav-label">{{ language.transform(navItem.name) }}</span>
  </a>
}
