@if(hasItems){
    <div >
        <a mat-list-item 
            (click)="navItem.isExpended = !navItem.isExpended"
            class="side-nav-item">
            <mat-icon matListItemIcon>{{navItem.icon}}</mat-icon>
            <div style="display: flex; justify-content: space-between; align-items: center; ">
                <span>{{language.transform(navItem.name)}}</span>    
                <mat-icon matListItemIcon style="margin: 0;">{{navItem.isExpended?"arrow_drop_down":"arrow_right"}}</mat-icon>    
            </div>
        
        </a>
    </div>
        
}@else {
    <a mat-list-item 
        [routerLink]="navItem.url" 
        class="side-nav-item">
        <mat-icon matListItemIcon>{{navItem.icon}}</mat-icon>
        <span>{{language.transform(navItem.name)}}</span>
    </a>
}

