
@use '@angular/material' as mat;
@use "../../../../styles.scss" ;

.h-screen{
    margin: 0;
    height: 100vh;
}

.sidenav-container
{
    height: calc( 100vh - 64px );
}

.list-item{
    display: flex;
    align-items: center;
}

.f-column-between{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.side-nav {
    background-color: var(--mat-sys-surface-container-low);

    @include mat.sidenav-overrides((
        container-divider-color: var(--mat-sys-outline-variant),
        container-shape: 0,
    ));

    width: 250px;
    height: 100%;

    mat-nav-list {
        padding: 8px 0;
    }
}

.tool-bar{
    background-color: var(--mat-sys-primary);
    padding-left: 10px;
    gap: 0;

    > img{
        width: 40px;
        display: block;
        margin-inline-start: 16px;
    }

    > span {
        margin-inline-start: 8px;
    }
}

.year-select {
    width: 140px;

    @include mat.form-field-overrides((
        outlined-label-text-color: var(--mat-sys-on-primary),
        outlined-hover-label-text-color: var(--mat-sys-on-primary),
        outlined-focus-label-text-color: var(--mat-sys-on-primary),
        outlined-outline-color: var(--mat-sys-on-primary),
        outlined-hover-outline-color: var(--mat-sys-on-primary),
        outlined-focus-outline-color: var(--mat-sys-on-primary),
    ));

    @include mat.select-overrides((
        enabled-trigger-text-color: var(--mat-sys-on-surface),
        enabled-arrow-color: var(--mat-sys-on-surface),
        focused-arrow-color: var(--mat-sys-primary),
        panel-background-color: var(--mat-sys-background),
    ));

    .mat-mdc-text-field-wrapper {
        background-color: var(--mat-sys-surface);
        border-radius: 4px;
    }
}

.sidebar-button{
    background-color: var(--mat-sys-primary);
    border-radius: 0 !important;
    border: 0;
    height: 100% !important;
    width: 64px !important;

    & :hover{
        opacity: var(--mat-sys-hover-state-layer-opacity);
        background-color: var(--mat-sys-on-primary);
    }
    & > mat-icon{
        color: var(--mat-sys-on-primary);
    }
}