<mat-dialog-content>
  @if(loading()){
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  }
  @else {
    <form [formGroup]="form" class="example-form">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
            <h2 mat-dialog-title style="padding: 0px 26px;">{{ language.transform("assign_student") }}</h2>
        </mat-expansion-panel-header>

        @if (data.classId) {
          <!-- Class page mode: search for a student -->
          <mat-form-field style="width: 100%;">
            <mat-label>{{ language.transform("name") }}</mat-label>
            <input type="text" matInput formControlName="student" [matAutocomplete]="autoStudent">
            <mat-autocomplete #autoStudent="matAutocomplete" [displayWith]="displayStudent" (optionSelected)="onStudentSelected($event)">
              @for (item of student$ | async; track item.id) {
                <mat-option [value]="item">{{ item.fullName }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        } @else {
          <!-- Student page mode: search for a class -->
          <mat-form-field style="width: 100%;">
            <mat-label>{{ language.transform("class_title") }}</mat-label>
            <input type="text" matInput formControlName="class" [matAutocomplete]="autoAge">
            <mat-autocomplete #autoAge="matAutocomplete" [displayWith]="displayClass" (optionSelected)="onClassSelected($event)">
              @for (item of class$ | async; track item.id) {
                <mat-option [value]="item">{{ item.ageGroupName + ' ' + item.section }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        }

        <div class='justify-end'>
          <button mat-button mat-flat-button (click)="submit()">{{language.transform('ok')}}</button>
        </div>
      </mat-expansion-panel>
    </form>

    @if (data.accountId) {
      <br/>
      <mat-card style="overflow-x: auto;">
        @if(this.loading()) {
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }
        <table mat-table [dataSource]="classes()" class="mat-elevation-z8" style="width: 80%;">

          <ng-container matColumnDef="{{headerTable[0]}}" sticky>
            <th mat-header-cell *matHeaderCellDef style="font-weight: bold;"> {{language.transform('age_group_title')}} </th>
            <td mat-cell *matCellDef="let element"> {{ element.ageGroupName }} </td>
          </ng-container>

          <ng-container matColumnDef="{{headerTable[1]}}">
            <th mat-header-cell *matHeaderCellDef style="font-weight: bold;"> {{language.transform('academic_year_title')}} </th>
            <td mat-cell *matCellDef="let element"> {{ +element.academicYear - 1 }}-{{ element.academicYear }} </td>
          </ng-container>

          <ng-container matColumnDef="{{headerTable[2]}}">
            <th mat-header-cell *matHeaderCellDef style="font-weight: bold;"> {{language.transform('section_title')}} </th>
            <td mat-cell *matCellDef="let element"> {{ element.section }} </td>
          </ng-container>

          <ng-container matColumnDef="{{headerTable[3]}}">
            <th mat-header-cell *matHeaderCellDef style="font-weight: bold;"> {{language.transform('created_at_title')}} </th>
            <td mat-cell *matCellDef="let element"> {{ element.createdAt }} </td>
          </ng-container>

          <ng-container matColumnDef="{{headerTable[4]}}" stickyEnd>
            <th mat-header-cell *matHeaderCellDef style="font-weight: bold;"> {{language.transform('action')}} </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="UnassingAccount(element.id)">
                <mat-icon class="icon-error">remove</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="headerTable"></tr>
          <tr mat-row *matRowDef="let row; columns: headerTable;"></tr>
        </table>
        <mat-paginator
          [length]="totalPages() * filter().pageSize"
          [pageSize]="filter().pageSize"
          [pageIndex]="filter().pageNumber - 1"
          [pageSizeOptions]="[5, 10, 25, 100]"
          showFirstLastButtons="false"
          (page)="changeInPage($event)"
        />
      </mat-card>
    }
  }

</mat-dialog-content>

<mat-dialog-actions [align]="'end'">
  <button mat-button mat-dialog-close (click)="dialogRef.close()">{{language.transform('close')}}</button>
</mat-dialog-actions>
