@use '@angular/material' as mat;
@use './app/theme/src_theme-colors.scss' as theme;
@use './app/theme/greenTheme.scss' as greenTheme;
@use './app/theme/blueTheme.scss' as blueTheme;

html{
  
  @include mat.form-field-overrides((
    disabled-input-text-placeholder-color: orange,
      filled-active-indicator-color: var(--mat-sys-primary)
  ));
  @include mat.dialog-overrides((
    container-elevation-shadow:1px 1px 2px #aaa,
    container-shape:5px,
    content-padding:5px 10px,
    actions-padding:5px 10px
  ));  
}

.light{
  color-scheme: light;
}

.dark{
  color-scheme: dark;
}

.background-page{
  background-color: var(--mat-sys-background);
}

.icon-error{
  // color: var(--mat-sys-error);
  color: #EF4444;
}

.icon-update{
  color: orange;
}

.icon-success{
  color: green;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;  
  width: 100%;
}

.justify-end{
  display: flex;
  justify-content: end;
}

.error-snackbar {
  @include mat.snack-bar-overrides((
    container-color: #EF4444,
    supporting-text-color: white
  ));
}

.success-snackbar {
  @include mat.snack-bar-overrides((
    container-color: green,
    supporting-text-color: white
  ));
}


::-webkit-scrollbar {
  width: 8px;  /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

/* 2. The Track (the background) */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* 3. The Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); /* Light grey for light mode */
  border-radius: 10px;
  border: 2px solid transparent; /* Creates padding around the thumb */
  background-clip: content-box;
}

/* 4. Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
  background-clip: content-box;
}

.flex{
  display: flex;
  align-items: center;
}

.flex-start{
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-between-without-align{
  display: flex;
  justify-content: space-between;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-t-10-percent{
  margin-top: 10%;
}

.row-box-10{
  margin: 0 5px;
}

.grid {
  display: grid;
  column-gap: 10px;
}

.grid-one-column{
  grid-template-columns: repeat(1, 1fr);;
}

.grid-four-column{
  grid-template-columns: repeat(4, 1fr);;
}

.grid-two-column{
  grid-template-columns: repeat(2, 1fr);;
}

.grid-full-line-item {
  grid-column: 1 / -1;
}